.comment.read
{
  background-color: #eee;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  //margin-bottom: 0.5rem;
  height: 3.5em;
  text-overflow: ellipsis;
  overflow: hidden;

  .body
  {
    display: none;
  }

  .summary, .user a, .user
  {
    display: inline;
    overflow: hidden;
    color: #aaa;
    max-height: 1.5rem;
  }




}


.comment
{
  border-bottom: 1px solid #aaa;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;

  .summary
  {
    display: none;
  }

  .body
  {
    a
    {
      text-decoration: underline;
    }
  }

  .avatar img
  {
    float: left;
  }


  .user
  {
    font-weight: 700;
  }

  .vote
  {
    width: 24px;
    text-align: center;
    float: right;
  }

  .actions
  {
    font-size: 0.8em;
    float: right;
  }
}
